/*BARRA DE NAVEGAÇÃO*/
#nav{
    background-color: darkred;
}

#logo img{
    width: 10vw;
    position: relative;
    top: 2px;
}

.nav-menu:hover{
    background-color: rgb(102, 7, 7);
}

/*TÍTULO*/

#titulo{
    padding: 100px 0px;
    height: 600px;
    background-image: url("imgs/title-image.jpg");
    background-position: center;
    font-family: serif;
}

#titulo h3{
    color: goldenrod;
}

#titulo .btn-large{
    background-color: darkred;
    color: goldenrod;
}

#titulo .btn-large:hover{
    background-color: rgb(102, 7, 7);
}

#titulo .left{
    margin-right: 2px;
}

/*BOTÕES*/

#botoes{
    text-align: center;
    color: goldenrod;
    padding: 50px 0px;
    background-color: white;
}

#botoes .btn-large{
    color: white;
    background-color: darkred;
}

#botoes .btn-large:hover{
    background-color: rgb(102, 7, 7);
}

/*FOTOS*/

#fotos{
    /*background-image: linear-gradient(darkred 80%, red);*/
    background-color: rgba(139, 0, 0, 0.750);
    padding: 50px 0px;
    color: white;
}

#fotos a{
    color: white;
    font-style: italic;
}

#fotos a:hover{
    color: rgb(182, 180, 174);
}

#foto1{
    height: 350px;
    padding-top: 15%;
    text-align: center;
    background-image: url("imgs/Senna.jpg");
    background-position: center;
    background-position-y: top;
    border: goldenrod outset 3px;
}

#foto2{
    height: 350px;
    padding-top: 15%;
    text-align: center;
    background-image: url("imgs/Aphelios.jpg");
    background-position: center;
    background-position-y: top;
    border: goldenrod outset 3px;
}

/*SLIDER*/

#slider{
    background-color: white;
    text-align: center;
    padding: 50px 0px;
}

.carousel{
    position: relative;
    right: 2vw;
}

.carousel .carousel-item>img{
    width: 130%;
}

/*INSCREVA-SE*/

#inscreva-se{
    background-color: rgba(139, 0, 0, 0.750);
    color: white;
    text-align: center;
    padding: 50px 0px;
}

#inscreva-se h5{
    margin-bottom: 30px;
}

#inscreva-se input[type=text]{
    background-color: white;
    border: goldenrod 1px solid;
    padding: 0px 10px;
}

#inscreva-se ::placeholder{
    padding-left: 5px;
}

#inscreva-se input[type=submit]{
    color: white;
    cursor: pointer;
    border: none;
    background-color: goldenrod;
    padding: 15px;
}

#inscreva-se input[type=submit]:hover{
    background-color: rgb(199, 157, 52);
}

/*FOOTER*/

.page-footer{
    padding: 50px 50px 20px 50px;
    background-color: rgb(99, 3, 3);
}