header{
    margin-bottom: 50px;
    padding: 10px;
    background-color: white;
    text-align: center;
    color: black;
}

table{
    border: 1px black solid;
    margin: auto;
}

th, td{
    padding: 10px;
    border: 1px black dashed;
}

body{
    background-color: #112244;
}

.textsbg{
    margin: auto;
    margin-top: 10px;
    padding: 50px;
    text-align: center;
    line-height: 30px;
    height: 500px;
    width: 1000px;
    background-color: white;
}